<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrexham AFC</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/images/wrexham-logo1.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="https://www.wrexhamafc.co.uk/" target=”_blank”><img src="/images/wrexham-logo.png" alt="wrexham logo not found"></a>
        <nav class="nav-bar">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/achievements">Achievements</a>
            <a href="/photos">Photo Gallery</a>
        </nav>
    </header>
    <div class="achievements">
    <div id="page">
        <section class="news">
            <div class="bg-achi">
            <h1 class="achi-title">Achievements</h1>
                <div class="achi-display">
                    <div class="achi-text">
                        <h2>Football League </h2></br>
                        Third Division (3rd level) - Champions 1977/78</br>
                        Division Three (4th level) - Runners-up (Promoted) 1992/93 </br>
                        Division Three (4th level) - 3rd Place (Promoted) 2002/03 </br>
                        Fourth Division (4th level) - Runners-up (Promoted) 1969/70 </br>
                        Fourth Division (4th level) - 3rd Place (Promoted) 1961/62</br>
                        Third Division North (3rd level) - 2nd Place (not promoted) 1932/33</br></br></br>

                        <h2>Football Conference</h2></br>
                        Runners-up - 2011/12, 2021/22</br>
                        Play-Off Finalists - 2012/13</br></br></br>

                        <h2>European Cup Winners' Cup</h2></br>
                        Quarter Finalists - 1975/76</br></br></br>

                        <h2>FA Trophy</h2></br>
                        Winners - 2012/13</br>
                        Runners-up - 2014/15, 2021/22</br></br></br>
                    </div>
                    <div class="achi-text">
                        <h2>Football League Trophy</h2></br>
                        Winners - 2004/05</br></br></br>

                        <h2>Welsh Cup </h2></br>
                        Winners - 23 times (record)</br>
                        Runners-up - 22 times</br></br></br>

                        <h2>FAW Premier Cup</h2></br>
                        Winners - 1997/98, 1999/00, 2000/01, 2002/03 & 2003/04</br>
                        Runners-up - 1998/99, 2004/05 & 2005/06</br></br></br>

                        <h2>FA Cup</h2></br>
                        Quarter Finalists - 1973/74, 1977/78 & 1996/97</br></br></br>

                        <h2>League Cup</h2></br>
                        Quarter Finalists - 1960/61 & 1977/78</br></br></br>

                        <h2>Adran North (Women)</h2></br>
                        Runners-up - 2021/22</br></br>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>