<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrexham AFC</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/images/wrexham-logo1.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="https://www.wrexhamafc.co.uk/" target=”_blank”><img src="/images/wrexham-logo.png" alt="wrexham logo not found"></a>
        <nav class="nav-bar">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/achievements">Achievements</a>
            <a href="/photos">Photo Gallery</a>
        </nav>
    </header>
    <div id="page">
        <section class="news">
            <h1>News</h1>
            <div class="news-info">
                <div class="container1">
                <img src="/images/rr-rm.jpg" style="width:100%" class="border">
                <div class="text">Ryan Reynolds and Rob McElhenney buy Wrexham AFC</div>
                </div>
                <div class="container2">
                <img src="/images/ben-foster.jpg" style="width:100%"  class="border">
                <div class="text">Ben Foster saves a penalty to win the match</div>
                </div>
                <div class="container3">
                <img src="/images/champions.jpg" style="width:100%"  class="border">
                <div class="text">Wrexham AFC wins the Vanarama National League</div>
                </div>
            </div>
        </br></br><hr>
        </section>
        <section class="news">
            <h1>Next Fixtures</h1>
            <div class="news-info">
                <div class="container1">
                <img src="/images/wrexham-chelsea.png" style="width:100%" class="border">
                <div class="text">Wrexham AFC vs Chelsea</div>
                </div>
                <div class="container2">
                <img src="/images/wrexham-manu.png" style="width:100%"  class="border">
                <div class="text">Wrexham AFC vs Man. Utd.</div>
                </div>
                <div class="container3">
                <img src="/images/wrexham-la.png" style="width:100%"  class="border">
                <div class="text">Wrexham AFC vs LA Galaxy II</div>
                </div>
            </div>
        </br></br></br><hr>
        </section>
        <section class="news">
            <h1>The Stadium</h1>
            <div class="stadium-info">
                <img src="/images/rg1.jpg" class="stadium-left"/>
                <div class="stadium-text">
                    The Racecourse Ground is a football stadium in Wrexham, Wales. It is the home of Wrexham A.F.C.</br>
                    It is the world's oldest international football stadium that still hosts international matches, having hosted Wales' first home international match in 1877, and has hosted more Wales international matches than any other ground.</br>
                    The record attendance at the ground was set in 1957, when Wrexham hosted a match against Manchester United in front of 34,445 spectators.</br>
                    The Racecourse Ground is the largest stadium in north Wales and the fifth largest in Wales. The ground is sometimes used by the Football Association of Wales for home international games.</br>
                    The ground has also been used by North Wales Crusaders rugby league club, Scarlets rugby union club and Liverpool Reserves. In the early days, the ground was used for cricket and horse racing. Concerts returned to the Racecourse in 2016 when Stereophonics performed.
                </div>
                <img src="/images/rg2.jpg" class="stadium-right"/>
            </div>
        </br></br></br><hr>
    </section>
        <footer>
            <a href="https://www.facebook.com/wrexhamfootballclub/" target=”_blank”><img src="/images/fb-logo.png" class="footer-images"/></a>
            <a href="https://www.instagram.com/wrexham_afc/" target=”_blank”><img src="/images/instagram-logo.png" class="footer-images"/></a>
            <a href="https://twitter.com/Wrexham_AFC" target=”_blank”><img src="/images/twitter-logo.png" class="footer-images"/></a>
            <a href="https://www.youtube.com/channel/UCS7BAYpqOSaYy-pZp6oO4PA" target=”_blank”><img src="/images/yt-logo.png" class="footer-images"/></a>
        </footer>
    </div>
</body>
</html>