<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrexham AFC</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/images/wrexham-logo1.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="https://www.wrexhamafc.co.uk/" target=”_blank”><img src="/images/wrexham-logo.png" alt="wrexham logo not found"></a>
        <nav class="nav-bar">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/achievements">Achievements</a>
            <a href="/photos">Photo Gallery</a>
        </nav>
    </header>
    <div id="page">
        <section class="news">
            <h1>Photo Gallery</h1>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                    </div>
                    <div class="slide">
                    </div>
                    <div class="slide">
                    </div>
                    <div class="slide">
                    </div>
                    <div class="slide">
                    </div>
                    <div class="slide">
                    </div>
                    <div class="slide">
                    </div>
                </div>
            </div>
        </br></br></br><hr>
        </section>
        <footer>
            <a href="https://www.facebook.com/wrexhamfootballclub/" target=”_blank”><img src="/images/fb-logo.png" class="footer-images"/></a>
            <a href="https://www.instagram.com/wrexham_afc/" target=”_blank”><img src="/images/instagram-logo.png" class="footer-images"/></a>
            <a href="https://twitter.com/Wrexham_AFC" target=”_blank”><img src="/images/twitter-logo.png" class="footer-images"/></a>
            <a href="https://www.youtube.com/channel/UCS7BAYpqOSaYy-pZp6oO4PA" target=”_blank”><img src="/images/yt-logo.png" class="footer-images"/></a>
        </footer>
    </div>
</body>
</html>